---
title: За авторите
layout: default
---

<div class="ph3 center">
    <div class="mw7 center">
        <!-- Page title -->
        {% include atoms/heading.html level="1" size="1" text=page.title className="tc
        mb4" %}

        <section class="divided-bottom-fancy pb4 mb4">
            <div class="row">
                <div class="col-12 col-md-5"><img src="/uploads/author.jpg" alt="" class="mb3 mb0-md"></div>
                <div class="col-12 col-md-7">
                    {% include atoms/heading.html level="2" size="2" text="За автора" className="mb2"
                    %}
                    <p>Автор на “Махабхарата” е прочутият мъдрец Вясадева, който е разделил, категоризирал и предал в писмена форма четирите Веди. Той е написал също Упанишадите, Пураните и други ведически текстове.</p>
                    <p>Вясадева е известен и с имената: Вяса, Ведавяса (“този, който разделил Ведите”) и Кришна Дваипаяна. Във ведическата традиция той е наричан махамуни (“велик мъдрец”) и е приеман за “литературната инкарнация на Бога”. </p>
                    <p>Освен автор на “Махабхарата” Вясадева е свидетел на описаните събития в нея и участник в тях. Син е на Сатявати, царица в рода Куру, и мъдреца Парашара; баща е на трима от основните герои в епоса: Цар Дхритаращра, Цар Панду и Видура.</p>
                </div>
            </div>
        </section>

        <section class="pv4">
            <div class="row reverse">
                <div class="col-12 col-md-5"><img src="/uploads/reteller.jpg" alt="" class="mb3 mb0-md"></div>
                <div class="col-12 col-md-7">
                    {% include atoms/heading.html level="2" size="2" text="За разказвача" className="mb2"
                    %}
                    <p>Kришна Дхарма изучава древноиндийската литература и култура повече от 30 г. Автор е на популярните преразкази на английски език на <a href="https://www.amazon.co.uk/Mahabharata-Greatest-Spiritual-Epic-Time/dp/1887089179/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1493731881&amp;sr=1-1" target="blank" class="link">“Махабхарата”</a>, <a href="https://www.amazon.co.uk/Ramayana-Indias-Immortal-Adventure-Wisdom/dp/8177691643/ref=sr_1_4?s=books&amp;ie=UTF8&amp;qid=1493731881&amp;sr=1-4" target="blank" class="link">“Рамаяна”</a>, <a href="https://www.amazon.co.uk/Panchatantra-Retelling-Collection-Lessons-Classics/dp/1887089454/ref=sr_1_7?s=books&amp;ie=UTF8&amp;qid=1493731881&amp;sr=1-7" target="blank" class="link">“Панчатантра”</a> и <a href="https://www.amazon.co.uk/dp/153962627X/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1493732071&amp;sr=1-1&amp;keywords=Bhagavata+Purana+Krishna+Dharma" target="blank" class="link">“Бхагавата Пурана”</a>.</p>
                    <p>Основната му сфера на професионален интерес е да представя чрез книги, публикации, семинари и други специални събития, древните ведически писания на достъпен език за съвременната аудитория.</p>
                </div>
            </div>
        </section>

    </div>
</div>