---
title: За авторите
layout: default
---

<div class="ph3 center">
    <div class="mw7 center">
        <!-- Page title -->
        {% include atoms/heading.html level="1" size="1" text=page.title className="tc
        mb3" %}

        <section class="pv2">
            <div class="row divided-bottom pb4 mb4">
                <div class="col-12 col-md-5"><img src="/uploads/author.jpg" alt="" class="mb3 mb0-md"></div>
                <div class="col-12 col-md-7">
                    {% include atoms/heading.html level="2" size="2" text="За автора" className="mb2"
                    %}
                    <p>Автор на “Махабхарата” е прочутият мъдрец Вясадева, който е разделил,
                        категоризирал и предал в писмена форма четирите Веди. Той
                        е написал също Упанишадите, Пураните и други ведически текстове.</p>

                    <p>Вясадева е известен и с имената: Вяса, Ведавяса (“този, който
                        разделил Ведите”) и Кришна Дваипаяна. Във ведическата традиция
                        той е наричан махамуни (“велик мъдрец”) и е приеман за “литературната
                        инкарнация на Бога”. </p>

                    <p>Освен автор на “Махабхарата” Вясадева е свидетел на описаните
                        събития в нея и участник в тях. Син е на Сатявати, царица
                        в рода Куру, и мъдреца Парашара; баща е на трима от основните
                        герои в епоса: Цар Дхритаращра, Цар Панду и Видура.</p>
                </div>
            </div>
        </section>

        <section class="pv2">
            <div class="row reverse divided-bottom mb4 pb4">
                <div class="col-12 col-md-5"><img src="/uploads/reteller.jpg" alt="" class="mb3 mb0-md"></div>
                <div class="col-12 col-md-7">
                    {% include atoms/heading.html level="2" size="2" text="За разказвача" className="mb2"
                    %}
                    <p>Kришна Дхарма е ученик и учител в традицията на Гаудия Ваишнавизма.
                    Изучава и практикува бхакти-йога повече от 30 г. Автор е
                    на популярните преразкази на английски език на “Махабхарата”,
                    “Рамаяна”, “Панчатантра” и “Бхагавата Пурана”.</p>
                    <p>Основната
                    му сфера на професионален интерес е да представя чрез книги,
                    публикации, семинари и други специални събития, древните
                    ведически писания на достъпен език за съвременната аудитория.
                    Последното му заглавие е <a href="https://www.amazon.co.uk/dp/153962627X/ref=sr_1_1?s=books&amp;ie=UTF8&amp;qid=1481713192&amp;sr=1-1&amp;keywords=brilliant+as+the+sun" target="_blank">The Sages of Naimisharanya</a>.</p>

                    <p class="mb1">Още за него:</p>
                        <div class="cms">
                            <ul class="mb0">
                                <li>
                                    <a href="http://krishnadharma.com" target="_blank">Личен сайт</a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/Krishna-Dharma-Page-108105283152/" target="_blank">Facebook</a>
                                </li>
                                <li>
                                    <a href="http://krishnadharma.com" target="_blank">Twitter</a>
                                </li>
                            </ul>
                        </div>
                </div>
            </div>
        </section>

    </div>
</div>