---
title: Mahabharata Homepage
layout: default
---

<div>
    <div class="ph3 pv4">
        {% include atoms/heading.html className='mb3' %}
        {% include atoms/heading.html text='Тест на заглавие 2' level='2' className='db mb3' %}
        {% include atoms/heading.html text="Gold is best" level='3' className="gold-2 mb3" %}
        {% include atoms/heading.html level='4' className='mb3' %}
        {% include atoms/heading.html level='5' className='mb3' %}
        {% include atoms/heading.html level='6' className='mb3' %}
        
        {% include atoms/button.html className="mb3" %}
        
        <div class="flex mb3">
            {% include atoms/input.html className='mr2' %}
            {% include atoms/button.html %}
        </div>
    
        <p class="mw6 first-letter">
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Fugit officia soluta nostrum consectetur laborum. <a href="#">Maiores</a> deserunt porro architecto dolor, fugiat ducimus voluptatum inventore velit asperiores, impedit numquam hic modi quam.
        </p>
    </div>

    <div class="bg-brown-1 pv4 ph3">
        <form class="mb3">
            {% include atoms/checkbox.html id="hello-test" label="Hello" className="mb3 db" type="radio" %}
            {% include atoms/checkbox.html id="hello2-test" label="Hello2" className="mb3 db" type="radio" %}
            {% include atoms/checkbox.html id="hello3-test" label="Hello3" className="mb3 db" type="radio" %}
        </form>
    
        {% include atoms/stepper.html label="Works?" placeholder="3" className="db mb3" id="stepper-test" %}
    
        {% include atoms/toggle.html label="Works?" placeholder="3" className="db" id="toggle-test" %}
    </div>

    <div class="ph3 pv4">
        {% include molecules/blockquote.html text="Щеше да има артисти, певци, танцьори и умели четци на древни ведически истории." author="Кришна Дхарма, India Today" className="mb3" %}

        {% include molecules/excerpt.html title="Гандхарвът Ангарапарна" className="mb3" %}

        {% include organisms/featured-preview.html title="10 неща, които не знаете за Махабхарата, #3 ще ви съсипе и подлуди" date="20 Април 2017" text="Когато слънцето изгря, хората от Екачакра намериха мъртвото тяло на Бака. Те бяха смаяни от тази лежаща пихтия плът с разтворени очи и уста. Косите на селян..." buttonText="Поръчай" %}
    </div>
    <div class="ph3 pt4">
        <ul class="row">
            {% for article in site.posts %}
                <div class="col-12 col-md-6">
                    {% capture theDate %}
                        {{ article.date | date: "%d/%m/%Y" }}
                    {% endcapture %}

                    {% include organisms/post-preview.html title=article.title url=article.url excerpt=article.excerpt image=article.hero.image date=theDate %}
                </div>
            {% endfor %}
        </ul>
    </div>
</div>