---
title: Рецензии
layout: default
---

<div class="ph4 center">
    <div class="mw7 center">
        <!-- Page title -->
        {% include atoms/heading.html level="1" size="1" text="Рецензии" className="tc
        mb4" %}

        <section>
            <div class="mw6 center">
                {% for review in site.reviews %}
                    {% include molecules/blockquote.html text=review.content source=review.source className="mb4" %}
                {% endfor %}
            </div>
        </section>
    </div>
</div>