<div>
    <h2 class="f3 f2-md lh-title mb3">{{ include.title}}</h2>
    <div class="row">
        <div class="col-12 col-md-6 col-lg-5">
            <img src="https://upload.wikimedia.org/wikipedia/commons/c/c6/Budha_goldentemple.jpg" alt="" class="mb2 mb0-md">
        </div>
        <div class="col-12 col-md-6 col-lg-7">
            <span class="brown-4 db mb2">{{ include.date }}</span>
            <p>{{ include.text }}</p>
            <a href="{{ include.link }}" class="btn dib states-opacity">{{include.buttonText}}</a>
        </div>
    </div>
</div>