<footer class="ph3 f5 f6-md brown-4">
    <div class="mw7 center divided-top pt4">
        <div class="row mb4">
            <div class="col-12 col-sm-4 mb4 mb0-sm">
                <a href="/" class="blue-3">{% include atoms/heading.html text="Махабхарата" size="4" level="2" className="blue-4 tc tl-sm" %}</a>
                <br/>
                <img src="/uploads/mahabharata-cover-277px-height.jpg" />
            </div>
            {% comment %} Contact links {% endcomment %}
            <div class="col-12 col-sm-4 mb3 mb0-sm">
                {% include atoms/heading.html text="Контакт с нас" size="5" level="3" className="blue-4
                mb3" %}
                <ul>
                    <li>
                        <p>За новини, харесайте страницата
                            <a href="https://www.facebook.com/Mahabharata.bg/" target="_blank" class="link">Махабхарата във Facebook</a>
                        </p>
                    </li>
                    <li>
                        <p>За информация и въпроси, пишете на
                            <a href="mailto: info@mahabharata.bg" class="link">info@mahabharata.bg</a></p>
                    </li>
                    <li>
                        <p>За поръчки и доставки, пишете на
                            <a href="mailto: shop@mahabharata.bg" class="link">shop@mahabharata.bg</a></p>
                    </li>
                </ul>
            </div>

            {% comment %} Sitemap {% endcomment %}
            <div class="col-12 col-sm-4 relative" style="padding-left: 3.5rem;">
                {% include atoms/heading.html text="Карта на сайта" size="5" level="3" className="blue-4
                mb3" %}
                <ul>
                    {% for nav in site.data.sitemap %}
                    <li>
                        <a href="{{ nav.href }}" class="db mb2 link">{{ nav.title }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <p class="tl tc-sm center f7">© Вита Рама, 2017</p>
    </div>
</footer>