<form id="js-purchase-form" class="animation-transition overflow-hidden" action="https://script.google.com/macros/s/AKfycbyZJ56LgP01sS38v96EEcZVLlgse2PwewcCGOtpumHZNJAXjWY4/exec"
      method="POST" style="height: 0px;" onsubmit="return validateForm();" >
	  <input type="hidden" name="redirect" value="/delivery-info/" class="link" target="_blank">
    <div class="db pb4 w-100" style="margin-top: -20px;">
        <!-- Title -->
        <span class="f4 lh-title mb3 db">Попълнете своите детайли:</span>
        <p class="mb2 brown-4">Вид доставка:</p>
        {% include atoms/checkbox.html label="Доставка до адрес" type="radio" className="mb3"
        id="form-delivery-address-home" name="delivery" value="Доставка до адрес" %}
        {% include atoms/checkbox.html label="Доставка до офис на куриер" type="radio" className="mb2"
        id="form-delivery-address-office" name="delivery" value="Доставка до офис на куриер" checked="1" %}


        <p class="mb2 brown-4">Куриерска услуга:</p>
        {% include atoms/checkbox.html label="Еконт" type="radio" id="form-delivery-address-office-econt" name="courier" className="mb2" value="Еконт" checked="1" %}

        {% include atoms/checkbox.html label="Спиди" type="radio" id="form-delivery-address-office-speedy" name="courier" value="Спиди" %}

    </div>
    <div class="flex items-center mb2">
        <span class="db mb0 brown-4 mr2">Количество:</span>
        {% include atoms/stepper.html min="1" max="20" label="Количество" name="quantity" value="1" %}
    </div>
    {% include atoms/input.html label="Име" name="name" className="mb2" %}

    {% include atoms/input.html label="Град" name="city" type="city" className="mb2" %}
    {% include atoms/input.html label="Адрес за доставка или офис на куриер" name="address" className="mb2" %}

    {% include atoms/input.html label="Имейл" name="email" type="email" className="mb2" %}

    {% include atoms/input.html label="Телефон" name="phone" type="phone" className="mb3" %}

    <div class="mb3">

        <!-- Disclaimer -->
        <p class="brown-4">Цената и времето за доставка зависят от вашето местоживеене и ще бъдат уточенени при потвърждаване на поръчката ви по имейл. <a href="/delivery-info/" class="link" target="_blank">Цени на куриерски услуги</a>.</p>

        <div class="flex justify-between items-center">
            <button type="submit" class="btn states-opacity">Купете</button>
        </div>
    </div>
</form>

<script>
    function validateForm() {
        if (document.getElementsByName("quantity")[0].value < 1 ||
                document.getElementsByName("name")[0].value === '' ||
                document.getElementsByName("address")[0].value === '' ||
                document.getElementsByName("email")[0].value === '' ||
                document.getElementsByName("phone")[0].value === '' ||
                document.getElementsByName("city")[0].value === ''
        ) {
            alert('Моля попълнете всички полета');
            return false;
        }
        return true;
    }
</script>
 
 
 <!-- Customise the Thankyou Message People See when they submit the form: -->
  <div style="display:none;" id="thankyou_message">
    <h2>Благодарим ви! Ще потвърдим поръчката ви скоро.</h2>
  </div>

  <!-- Submit the Form to Google Using "AJAX" -->
  <script data-cfasync="false" type="text/javascript"
  src="https://cdn.rawgit.com/dwyl/html-form-send-email-via-google-script-without-server/master/form-submission-handler.js"></script>
  <!-- <script data-cfasync="false" type="text/javascript"
  src="/form-submission-handler.js"></script> -->
<!-- END -->
