<form id="js-purchase-form" class="animation-transition overflow-hidden" action="https://formspree.io/deezel.dude@gmail.com" method="POST" style="height: 0px;">
   <div class="db divided-bottom pb4 w-100">
        <!-- Title -->
        <span class="f4 lh-title mb2 db">Попълни своите детайли:</span>
        
        <div class="flex items-center mb2">
            <span class="db mb0 brown-4 mr2">Количество:</span>
            {% include atoms/stepper.html min="1" max="20" label="Количество" name="quantity" value="1" %}
        </div>
        
        {% include atoms/input.html label="Име" name="name"
        className="mb2" %}
        
        {% include atoms/input.html label="Адрес" name="address" className="mb2"
        %}
        
        {% include atoms/input.html label="Телефон" name="phone" type="phone" className="mb3" %}
    
        <div class="mb3">
            {% include atoms/checkbox.html label="Доставка до адрес" type="radio" className="mb2"
            id="form-delivery-address-home" name="shipping-option" value="Доставка до адрес" checked=1 %}
            
            {% include atoms/checkbox.html label="Доставка
            до офис на куриер" type="radio" id="form-delivery-address-office" name="shipping-option" value="Доставка до офис на куриер" %}
        </div>
    
        <p class="brown-4">Цената и времето за доставка зависят от вашето местоживеене и ще бъдат уточенени при изпращане на поръчката ви. <a href="/terms/" target="_blank">Пълни условия за ползване.</a> </p>
    
        <div class="flex justify-between items-center">
            <!--<p class="mb0 brown-4">Общо: 20лв</p>-->
            <button type="submit" class="btn">Купи</button>
        </div>
   </div>
</form>