<nav class="relative mb4 ph3-md">
	<div class="mw7 center flex flex-column divided-bottom">

		<!-- Logo -->
		<a href="/" class="f4 center states-opacity blue-3 ph3 pt3 pb1">Махабхарата</a>

		<!-- Nav -->
		<ul id="js-nav-list" class="flex grey-2 list relative">
			{% for nav in site.data.nav %}
				<li>
					<a href="{{ nav.href }}" class="pa3 db nowrap states-opacity {% if page.url == nav.href %}blue-3{%else%}brown-4{%endif%}">{{ nav.title }}</a>
				</li>
			{% endfor %}
		</ul>
		<div class="fader" id="js-fader" aria-hidden></div>
	</div>
</nav>

<script>
	const nav = document.querySelector('#js-nav-list');

	nav.addEventListener('scroll', function (event) {
		if (nav.scrollWidth > nav.scrollLeft) {
			const fader = document.querySelector('#js-fader');
			if ( (nav.scrollLeft + nav.offsetWidth) > (nav.scrollWidth - 30) ) {
				fader.style.opacity = '0';
			}
			else {
				fader.style.opacity = '1';
			}
		}
		else {
			fader.style.opacity = '0';
		}
	});

</script>