---
title: Откъси
layout: default
---

<div class="ph3 center">
    <div class="mw7 center">
        <!-- Page title -->
        {% include atoms/heading.html level="1" size="1" text=page.title className="tc
        mb3" %}
        <img src="/uploads/goldengate.jpg" alt="Златният мост" class="mb3">
        
        <!-- Excerpts -->
        <section>
            <div class="row">
                <!-- Loop -->
                {% for excerpt in site.excerpts %}
                    <div class="col-6 col-sm-4 col-lg-3 mb3">
                        <a href="{{excerpt.url}}" class="db states-opacity">
                            {% include molecules/excerpt.html title=excerpt.title %}
                        </a>
                    </div>
                {% endfor %}
            </div>
        </section>
    </div>
</div>