---
title: Разгледай книгата
layout: default
---

<div class="ph3 center">
    <div class="mw7 center">
        <!-- Page title -->
        {% include atoms/heading.html level="1" size="1" text="За книгата" className="tc
        mb3" %}

        <section class="pv4">
            <div class="row">
                <div class="col-12 col-lg-6"><img src="/uploads/1.jpg" alt=""></div>
                <div class="col-12 col-lg-6">
                     {% include atoms/heading.html level="2" size="2" text="За автора" className="mb2" %}
                     <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facilis, enim voluptatum possimus fugit quo blanditiis laboriosam veritatis, hic temporibus officiis maxime repellat officia fugiat aut eaque, rerum. Soluta, officiis.</p>
                </div>
            </div>
        </section>

        <section class="pv4">
            <div class="row reverse">
                <div class="col-12 col-lg-6"><img src="/uploads/2.jpg" alt=""></div>
                <div class="col-12 col-lg-6">
                    {% include atoms/heading.html level="2" size="2" text="За разказвача" className="mb2" %}
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facilis, enim voluptatum possimus fugit quo blanditiis laboriosam veritatis, hic temporibus officiis maxime repellat officia fugiat aut eaque, rerum. Soluta officiis.</p>
                </div>
            </div>
        </section>

        <section class="pv4">
            <div class="mw6 center">
                {% include atoms/heading.html level="2" size="2" text="За разказвача" className="mb3 tc" %}
                <img src="/uploads/3.jpg" alt="" class="mb2">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet facilis, enim voluptatum possimus fugit quo blanditiis laboriosam veritatis, hic temporibus officiis maxime repellat officia fugiat aut eaque, rerum. Soluta officiis.</p>
            </div>
        </section>
    </div>
</div>