---
title: Купете книгата
layout: default
---

<div class="ph3 center">
    <div class="mw7 center">

        <!-- Page title -->
        {% include atoms/heading.html level="1" size="1" text=page.title className="tc mb4"
        %}

        <section>
            <!-- Section title -->
            <div class="row divided-bottom-fancy pb4">
                <div class="col-12 col-sm-5 col-md-4 col-lg-3 mb3 mb0-sm">
                    <img src="/uploads/book.png" alt="" class="db mb2">
                    <a href="/explore/" class="link">Прочетете откъси от книгата</a>
                </div>

                <!-- Content -->
                <div class="col-12 col-sm-7 col-md-8 col-lg-9">
                    <div class="mw6 cms">
                        <p class="f2 lh-title mb1">Махабхарата</p>
                        <p>Разказана от Кришна Дхарма</p>

                        <ul class="mb0">
                            <li>Заглавие: Махабхарата</li>
                            <li>Автор: Кришна Дхарма</li>
                            <li>Жанр: Класика</li>
                            <li>Поредица: За Духа</li>
                            <li>Издание: Луксозно</li>
                            <li>Оформление: Bookwrights</li>
                            <li>Корица: Твърда</li>
                            <li>Илюстрации: Черно-бели</li>
                            <li>Брой страници: 1062</li>
                            <li>Формат: 14.5 х 21.7 х 5.2 см</li>
                            <li>Година: 2017</li>
                            <li>ISBN: 978&#8211;619&#8211;90735&#8211;0&#8211;6</li>
                            <li>Цена: 36 лв.</li>
                        </ul>
                    </div>
                </div>
            </div>
        </section>

        <section class="pv4 row">
            <!-- Buy in stores -->
            <div class="col-12 col-md-6 cms mb3 mb0-md">
                {% include atoms/heading.html level="2" text="В книжарниците" className="
                mb2" %}
    
                <p class="mb2">“Махабхарата” разказана от Кришна Дхарма можете да намерите в книжарниците:</p>
    
                <ul class="mb0">
                    <li>
                        <a href="http://www.bookpoint.bg/%D0%BA%D0%BD%D0%B8%D0%B3%D0%B8/%D0%9C%D0%B0%D1%85%D0%B0%D0%B1%D1%85%D0%B0%D1%80%D0%B0%D1%82%D0%B0-99733.htm" target="_blank">Bookpoint</a>
                    </li>
    
	                <li>
                        <a href="https://www.booktrading.bg/%D0%BC%D0%B0%D1%85%D0%B0%D0%B1%D1%85%D0%B0%D1%80%D0%B0%D1%82%D0%B0,%20%D0%BA%D1%80%D0%B8%D1%88%D0%BD%D0%B0,%20%D0%B4%D1%85%D0%B0%D1%80%D0%BC%D0%B0,%20torchlight,%20publishing,%209786199073506" target="_blank">Booktrading</a>
                    </li>
	
	                <li>
                        <a href="https://www.helikon.bg/books/144/-%D0%9C%D0%B0%D1%85%D0%B0%D0%B1%D1%85%D0%B0%D1%80%D0%B0%D1%82%D0%B0-%28%D0%A0%D0%B0%D0%B7%D0%BA%D0%B0%D0%B7%D0%B0%D0%BD%D0%B0-%D0%BE%D1%82-%D0%9A%D1%80%D0%B8%D1%88%D0%BD%D0%B0-%D0%94%D1%85%D0%B0%D1%80%D0%BC%D0%B0%29_207859.html" target="_blank">Helikon</a>
                    </li>
	
                    <li>
                        <a href="https://www.orangecenter.bg/" target="_blank">Orange center</a>
                    </li>
										
                  
                </ul>
                
            </div>

            <!-- Buy online -->
            <div class="col-12 col-md-6 cms mb3 mb0-md">
                {% include atoms/heading.html level="2" size="3" text="Купете онлайн" className="
                mb2" %}
                <p>Можете да закупите “Махабхарата” разказана от Кришна Дхарма онлайн с {% raw %} 20% {% endraw %} отстъпка тук:</p>
                <button id="js-open-form" class="btn states-opacity">Поръчайте</button>

                <!-- Purchase form -->
                {% include organisms/form.html %}
            </div>
        </section>

    </div>
</div>

<script>
    const openFormButton = document.querySelector('#js-open-form');
    const purchaseForm = document.querySelector('#js-purchase-form');

    openFormButton.onclick = function () {
        purchaseForm.style.height = "auto";
        purchaseForm.style.overflow = "visible";
        this.style.display = "none";
    }

</script>