// Neutral
.bgn { background-color: transparent !important }
.bg-white { background-color: $white }
.bg-off-white { background-color: $off-white }
.bg-grey-1 { background-color: $grey-1 }
.bg-grey-2 { background-color: $grey-2 }
.bg-grey-3 { background-color: $grey-3 }
.bg-black { background-color: $black }
.bg-midnight { background-color: $midnight }

// Brand
.bg-brand { background-color: $brand; }
.bg-brand-text { background-color: $brand-text; }
.bg-brand-light { background-color: $brand-light; }
.bg-red { background-color: $red; }
.bg-green { background-color: $green; }
.bg-highlight { background-color: $highlight; }
