.b--solid {  border-style: solid; }
.b--none {   border-style: none; }
.b--dashed {   border-style: dashed; }

@include sm {
  .b--solid-sm {  border-style: solid; }
  .b--none-sm {   border-style: none; }
  .b--dashed-sm {   border-style: dashed; }
}

@include md {
  .b--solid-md {  border-style: solid; }
  .b--none-md {   border-style: none; }
  .b--dashed-md {   border-style: dashed; }
}

@include lg {
  .b--solid-lg {  border-style: solid; }
  .b--none-lg {   border-style: none; }
  .b--dashed-lg {   border-style: dashed; }
}

@include xl {
  .b--solid-xl {  border-style: solid; }
  .b--none-xl {   border-style: none; }
  .b--dashed-xl {   border-style: dashed; }
}
