// Neutral
.b-fff { border-color: #fff!important; }
.b-white { border-color: $white!important; }
.b-grey-1 { border-color: $grey-1!important; }
.b-grey-2 { border-color: $grey-2!important; }
.b-grey-3 { border-color: $grey-3!important; }
.b-black { border-color: $black!important; }
.b-midnight { border-color: $midnight!important; }

// Brand
.b-brand { border-color: $brand!important; }
.b-brand-text { border-color: $brand-text!important; }
.b-red { border-color: $red!important; }
.b-green { border-color: $green!important; }
.b-highlight { border-color: $highlight!important; }
