  .ba { border-style: solid; }
  .bt { border-top-style: solid; }
  .br { border-right-style: solid; }
  .bb { border-bottom-style: solid; }
  .bl { border-left-style: solid; }
  .bn { border-style: none; border-width: 0; }
