.btn {
  font-size: 1rem;
  padding: .727rem 1.45rem;
  cursor: pointer;
  letter-spacing: 0.0375rem;
  color: $blue-3;
  transition: $hover-transition;
  @extend .tc;
  @extend .nowrap;
  background-color: $gold-2;
  // button-specific focus-state
  &:focus {
    opacity: .75;
  }
}

.ghost-btn {
  bacground-color: $white;
  &:hover {
    opacity: .75;
  }
  &:active {
    background-color: #fff !important;
    opacity: 1;
  }
}