.checkbox-reset {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  &:checked + label {
    background-color: rgba($brown-1, .5);
  }
}

.checkbox {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px; width: 1px;
  margin: -1px; padding: 0; border: 0;
  -webkit-tap-highlight-color: rgba(0,0,0,0);
  // checkbox-spefic focus state
  .a11y &:focus + label::before {
    box-shadow: 0 0 0 3px $blue-1;
    opacity: .75;
  }
}

.checkbox + label {
  position: relative;
  padding-left: calc(36px + 1rem);
  line-height: 2rem;
  @extend .dib;
  @extend .pointer;
}

/* checkbox border */
.checkbox + label:before {
  content: '';
  background-color: transparent;
  width: 2rem;
  height: 2rem;
  @extend .br-100;
  @extend .absolute;
  @extend .top-0;
  @extend .left-0;
  @extend .tc;
  @extend .b--solid;
  @extend .bw1;
  @extend .animation-transition;
  border-color: $gold-2;
}

/* dot */
.checkbox + label:after {
  content: '';
  @extend .absolute;
  border-radius: 100%;
  display: block;
  background-color: $gold-2;
  top: .375rem;
  left: .375rem;
  width: 1.25rem;
  height: 1.25rem;
  @extend .animation-transition;
  transform: scale(0) translateZ(0);
  opacity: 0;
}


// Checked
.checkbox:checked + label:after {
  opacity: 1;
  transform: scale(1) translateZ(0);
  transition: $animation-transition;
  transition-delay: .15s;
  -webkit-transition-delay: .15s;
}

.checkbox:disabled {
  opacity: .1;
}
