.cms {

	/* Headings */
	h1, h2, h3, h4, h5, h6 {
		font-weight: 700;
		line-height: 1.25;
    margin-bottom: .5rem;
    @extend .f--brown;
  }

  h1 {
    font-size: 1.953rem;
  }

  h2 {
    font-size: 1.563rem;
  }

  h3 {
    font-size: 1.25rem;
  }

  h4 {
    font-size: 1rem;;
  }

  h5 {
    font-size: .8rem;
  }

	/* Images */
	 img {
		display: block;
		margin-bottom: 1rem;
		margin-left: auto;
		margin-right: auto;
		max-width: 100%;
    border-radius: .375rem;
	}

	/* Lists */
	ul, ol, li {
		position: relative;
	}

	ul, ol {
		margin-bottom: 1rem;
	}

	ul ul, ol ol {
		padding-left: .5rem;
	}

  ul {
    margin-left: 1.33rem;
    >li:before {
      content: 'â—';
      left: -1.33rem;
      font-size: .75rem;
      top: .25rem;
      position: absolute;
      color: $blue-1;
    }
  }

  ol {
    list-style: none;
    margin-left: $spacing-medium;
    counter-reset: i 0;
    >li:before {
      @extend .fw8;
      left: -$spacing-medium;
      position: absolute;
      height: 100%;
      content: counter(i);
      counter-increment: i;
      color: $blue-1;
    }
	}

  /* Blockquotes */
  blockquote {
    background-color: #fff;
    display: block;
    border-radius: .375rem;
    padding: 1rem;
    font-weight: 700;
    font-size: 1.25rem;
    @extend .mv3;
    @extend .blue-2;
    p {
      margin: 0;
    }
  }

	// Links
	a {
		@extend .link;
	}

}
