// Neutral
.white { color: $white !important }
.grey-1 { color: $grey-1 !important }
.grey-2 { color: $grey-2 !important }
.grey-3 { color: $grey-3 !important }
.black { color: $black !important }
.midnight { color: $midnight !important }

// Brand
.brand { color: $brand !important; }
.brand-text { color: $brand-text !important; }
.brand-light { color: $brand-light !important; }
.red { color: $red !important; }
.green { color: $green !important; }
.highlight { color: $highlight !important; }
