.nice-select {
  background-color: $white;
  @extend .fw5;
  @extend .br1;
  @extend .b--solid;
  ;
  @extend .bw1;
  border-color: $white;
  @extend .tl;
  @extend .db;
  @extend .mw5;
  @extend .pointer;
  @extend .relative;
  @extend .hover-transition;
  @extend .ws-normal;
  padding: .375rem 2rem .375rem .75rem;
  user-select: none;
  // Arrow
  &:after {
    content: '';
    @extend .animation-transition;
    border-bottom: 2px solid $brown-4;
    border-right: 2px solid $brown-4;
    @extend .db;
    height: 7.5px;
    margin-top: -6px;
    pointer-events: none;
    @extend .absolute;
    @extend .right-0;
    @extend .mr3;
    top: 50%;
    transform-origin: 66% 66%;
    transform: rotate(45deg);
    width: 7.5px;
  }

  &.open {
    &:after {
      transform: rotate(-135deg);
    }
    .list {
      @extend .o-100;
      pointer-events: auto;
      transform: translateY(0);
    }
  }
  &.disabled {
    @extend .o-50;
  }

  // List and options
  .list {
    bacground-color: $white;
    @extend .blue-3;
    @extend .br1;
    @extend .o-0;
    @extend .overflow-hidden;
    pointer-events: none;
    @extend .absolute;
    @extend .top-100;
    @extend .mt2;
    @extend .left-0;
    @extend .z-2;
    width: auto;
    min-width: 16rem;
    transition: $animation-transition;
    transform-origin: 50% 0%;
    @extend .up-1rem;
  }
  .option {
    @extend .pv2;
    @extend .ph3;
    @extend .states-bg;
    @extend .pointer;
    transition: $animation-transition;
    &.focus, &.selected.focus {
      ;
      transform: translateY(0);
    }
    &.selected {
      ;
    }
    &.disabled {
      @extend .strike;
    }
  }
}

// Use display instead of opacity for IE <= 10
.no-csspointerevents .nice-select {
  .list {
    display: none;
  }
  &.open {
    .list {
      display: block;
    }
  }
}
