@font-face {
    font-family: "Brown";
    src: url("../fonts/lineto-brown-bold.woff2") format("woff2"),
        url("../fonts/lineto-brown-bold.woff") format("woff");
    font-weight: normal;
    font-style: bold;
}

.f--brown {
  font-family: "Brown";
}
