fieldset
{
  position: relative;
}

.input {
  padding: .375rem .75rem;
  border: 3px solid $grey-1;
  @extend .bg-white;
  @extend .lh-copy;
  @extend .br1;
  @extend .fw5;
  @extend .hover-transition;
  color: $black;
  -webkit-appearance: none;

  &::placeholder {
    @extend .animation-transition;
  }

  &:focus {
    @extend .b-brand;
    box-shadow: none;
  }

  &:focus + label {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0) translateZ(0);
    }
  &:focus::placeholder  {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-.5rem) translateZ(0);
  }
}

.input + label
{
  @extend .brand-text;
  position: absolute;
  top: -.6rem;
  margin-left: .65rem;
  @extend .f6;
  @extend .fw7;
  left: 0;
  opacity: 0;
  @extend .bg-white;
  @extend .ph2;
  pointer-events: none;
  transform: translateY(1rem) translateZ(0);
  @extend .animation-transition;
}

// Validation front-end
// input, textarea {
//   &:not(:focus) {
//     &:invalid {
//       @extend .b-red;
//     }
//   }
// }
