fieldset
{
  position: relative;
}

.input {
  color: $blue-3;
  padding: .727rem;
  background-color: $gold-1;
  @extend .lh-copy;
  @extend .hover-transition;
  -webkit-appearance: none;
  &::placeholder {
    @extend .animation-transition;
    color: $brown-4;
  }
  &:focus + label {
      opacity: 1;
      pointer-events: auto;
      transform: translateY(0) translateZ(0);
  
  }
  &:focus::placeholder  {
    opacity: 0;
    pointer-events: none;
    transform: translateY(-.5rem) translateZ(0);
  }
}

.input + label
{
  position: absolute;
  top: -1.5rem;
  @extend .f6;
  left: 0;
  opacity: 0;
  background-color: $brown-1;
  @extend .ph2;
  pointer-events: none;
  color: $brown-4;
  transform: translateY(1rem) translateZ(0);
  @extend .animation-transition;
}