a {
  color: $blue-2;
  &:hover {
    text-decoration: underline;
  }
}

.arrow {
  &:hover {
    text-decoration: none;
  }
  &:after {
    content: '»';
    width: .3em;
    margin-left: .25em;
    height: 100%;
    display: inline;
    transition: $hover-transition;
  }
  &:hover:after {
    transform: translateX(.1em);
  }
}

.disabled {
  opacity: .3;
  pointer-events: none;
}
