.list {         list-style-type: none; }

/* Lists */
.ul, .ol, li {
  position: relative;
}

.ul .ul, .ol .ol {
  padding-left: $spacing-small;
}

.ul {
  margin-left: 1.33rem;
  >li:before {
    content: 'â—';
    left: -1.33rem;
    font-size: .75rem;
    top: .25rem;
    position: absolute;
    color: $blue-1;
  }
}

.ol {
  list-style: none;
  margin-left: $spacing-medium;
  counter-reset: i 0;
  >li:before {
    @extend .fw8;
    left: -$spacing-medium;
    position: absolute;
    height: 100%;
    content: counter(i);
    counter-increment: i;
    color: $blue-1;
  }
}
