.modal-wrapper {
  pointer-events: auto;
  opacity: 1;
  transition: $animation-transition;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  display: flex;
  justify-content: center;
  @extend .pt3;
  @extend .ph3;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  // Vertical center and no padding on tablets and up
  @include md {
    padding: 0;
    align-items: center;
  }

  // Actual modal
  .modal {
    transition: $bouncy-transition;
    z-index: 9999;
    transform: translateY(0) rotate(0);
    overflow-y: scroll;
  }

  // Modal visible
  &[aria-hidden='true'] {
    pointer-events: none;
    opacity: 0;
    .modal {
      transform: translateY(5rem) rotate(-9deg);
    }
  }

  // Dimmer
  .modal-dimmer {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    background: rgba($brown-2, .95);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
  }
}

.dialog-open {
  overflow: hidden;
}