.hover-transition
{
  transition: $hover-transition;
}

.animation-transition
{
    transition: $animation-transition;

}

.states-bg {
  transition: $hover-transition;
  &:hover {
    background-color: rgba($blue-1, .25);
  }
  &:active {
    background-color: rgba($blue-1, .5);
  }
  &:disabled {
    background-color: $blue-2;
  }
  .states-bg:hover {
    background-color: rgba($blue-1, .5);
  }
}

.states-opacity {
  transition: $hover-transition;
  transform: translateZ(0);
  &:hover {
    opacity: .7;
    text-decoration: none;
  }
  &:active {
    opacity: .35;
    transform: translateZ(0);
  }
  &:disabled {
    background-color: $blue-2;
  }
}

.pointer:hover {
  cursor: pointer;
}
