.logo {
  font-size: 42px;
}

.icon {
  width: 32px;
  height: 32px;
  @extend .db;
}

.btn-icon {
  width: .7em;
  height: .7em;
  margin-right: .12em;
  @extend .dib;
}

.separator {
  li:not(:last-child) {
    border-bottom: 1px solid $brown-1;
  }
}

.lines
{
  @extend .tc;
  @extend .relative;
  &:before
  {
      content: '';
      position: absolute;
      z-index: 2;
      top: 50%;
      right: 50%;

      display: block;

      width: 25%;
      height: 2px;

      transform: translate(-28px, -50%);

      border-radius: 2px;
      background-color: $brown-2;
  }
  &:after
  {
      position: absolute;
      z-index: 2;
      top: 50%;
      left: 50%;

      display: block;

      width: 25%;
      height: 2px;

      content: '';
      transform: translate(28px, -50%);

      border-radius: 2px;
      background-color: $brown-2;
  }
}

.uploader {
  @extend .overflow-hidden;
  input {
    @extend .clip;
  }
  fieldset {
    @extend .db;
    @extend .ma0;
    @extend .w-100;
    @extend .h-100;
    @extend .absolute;
    background-color: $blue-1;
    @extend .white;
    @extend .fw5;
    @extend .z-2;
    left: 50%;
    top: 50%;
    @extend .pt4;
    transform: translate(-50%, -50%);
    @extend .br-100;
    @extend .pointer;
    @extend .states-bg;
    &:hover {
      background-color: $blue-1;
    }
    label {
      position: absolute;
      left: 0;
      width: 100%;
      height: 100%;
    }
  }
}

// Adds tighter tracking for .f--brown type
.f1.f--brown, .f2.f--brown, .f3.f--brown {
  letter-spacing: -.025em;
}

.illustration-question {
  width: 14rem;
  @include sm {
    width: 16rem;
  }
  @include lg {
    width: 18rem;
  }
}

.illustration-push-right {
  transform: translateX(7rem);
  @include sm {
    transform: translateX(8rem);
  }
  @include lg {
    transform: translateX(9rem);
  }
}

.questions-illustration {
  transform: translateX(-7rem);
  @include sm {
    transform: translateX(-8rem);
  }
  @include lg {
    transform: translateX(-9rem);
  }
}

path#svg-title {
  transform-origin: 0% 50%;
  transform: scaleX(0);
}

path#search-bank {
  transform-origin: 50%;
}

path#search-term {
  transform-origin: 0% 50%;
  transform: scaleX(0);
}

g#search {
  transform: translateY(1rem);
}

g#svg-tag, g#questions-2 {
  transform-origin: 50% 50%;
}

.two-up-wrapper {
  height: 29rem;
  @include md {
    height: 35rem;
  }
}

.simulated-user {
  width: 30rem;
  padding-top: 2rem;
  pointer-events: none;
  transform: scale(.6);
  transform-origin: 4% 0%;
  @include md {
    transform: scale(.75);
  }
}

.two-up-wrapper-question {
  height: 16rem;
  @include sm {
    height: 19rem;
  }
  @include md {
    height: 28rem;
  }
}

.simulated-search {
  width: 60rem;
  padding-top: 2rem;
  pointer-events:none;
  transform: scale(.31);
  left: 0;
  transform-origin: 0% 0%;
  @include sm {
    transform: scale(.5);
  }
  @include md {
    transform: scale(.7);
  }
}

.excerpt {
  background-color: $gold-1;
  padding: 0 2rem;
  color: $brown-4;
  max-width: 10rem;
  height: 13rem;
  text-align: center;
  position: relative;
  box-shadow: inset 0 0 0 10px $gold-1, inset 0 0 0 12px $gold-2;
  p {
    position: absolute;
    width: 100%;
    padding-top: 3rem;
    left: 50%;
    transform: translateX(-50%);
  }
}

.excerpt-quotes {
  display: block;
  &:before {
    content: '“';
    position: absolute;
    left: -.75em;
    color: $gold-2;
  }

  &:after {
    content: '”';
    position: absolute;
    right: -.75em;
    bottom: 0;
    color: $gold-2;
  }

  p {
    display: inline;
  }
}

.fader {
  width: 8rem;
  display: block;
  height: 3.5rem;
  right: 0;
  top: 2.63rem;
  position: absolute;
  background: linear-gradient(to right, rgba($brown-2, 0), $brown-2);
  pointer-events: none;
  @media (min-width: 33em) {
    display: none;
  }
}