/* Type Scale */
.f1 { font-size: 2.074rem; }
.f2 { font-size: 1.728rem; }
.f3 { font-size: 1.44rem; }
.f4 { font-size: 1.2rem; }
.f5 { font-size: 1rem; }
.f6 { font-size: .833rem; }
.f7 { font-size: .694rem; }

@include sm {
  .f1-sm { font-size: 2.074rem; }
  .f2-sm { font-size: 1.728rem; }
  .f3-sm { font-size: 1.44rem; }
  .f4-sm { font-size: 1.2rem; }
  .f5-sm { font-size: 1rem; }
  .f6-sm { font-size: .833rem; }
  .f7-sm { font-size: .694rem; }
}

@include md {
  .f1-md { font-size: 2.074rem; }
  .f2-md { font-size: 1.728rem; }
  .f3-md { font-size: 1.44rem; }
  .f4-md { font-size: 1.2rem; }
  .f5-md { font-size: 1rem; }
  .f6-md { font-size: .833rem; }
  .f7-md { font-size: .694rem; }
}

@include lg {
  .f1-lg { font-size: 2.074rem; }
  .f2-lg { font-size: 1.728rem; }
  .f3-lg { font-size: 1.44rem; }
  .f4-lg { font-size: 1.2rem; }
  .f5-lg { font-size: 1rem; }
  .f6-lg { font-size: .833rem; }
  .f7-lg { font-size: .694rem; }
}

@include xl {
  .f1-xl { font-size: 2.074rem; }
  .f2-xl { font-size: 1.728rem; }
  .f3-xl { font-size: 1.44rem; }
  .f4-xl { font-size: 1.2rem; }
  .f5-xl { font-size: 1rem; }
  .f6-xl { font-size: .833rem; }
  .f7-xl { font-size: .694rem; }
}
