.aspect-ratio {
  height: 0;
  @extend .relative;
  @extend .db;
  @extend .overflow-hidden;
}

.aspect-ratio--16x9 { padding-bottom: 56.25%; }
.aspect-ratio--4x3 {  padding-bottom: 75%; }
.aspect-ratio--8x5 {  padding-bottom: 62.5%; }

.aspect-ratio--object {
  @extend .absolute;
  @extend .top-0;
  @extend .left-0;
  @extend .w-100;
  @extend .h-100;
  @extend .z-2;
}

.center {
  margin-right: auto;
  margin-left: auto;
}

@include sm {
  .center-sm {
    margin-right: auto;
    margin-left: auto;
  }
}

@include md {
  .center-md {
    margin-right: auto;
    margin-left: auto;
  }
}

@include lg {
  .center-lg {
    margin-right: auto;
    margin-left: auto;
  }
}

@include xl {
  .center-xl {
    margin-right: auto;
    margin-left: auto;
  }
}


.elipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.force3d {
  transform: translateZ(0);
}

.absolute-center {
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.absolute-center-x {
  left: 50%;
  transform: translateX(-50%);
}

.absolute-center-y {
  top: 50%;
  transform: translateY(-50%);
}

@include sm {
  .absolute-center-x-sm {
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center-y-sm {
    top: 50%;
    transform: translateY(-50%);
  }
}

@include md {
  .absolute-center-x-md {
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center-y-md {
    top: 50%;
    transform: translateY(-50%);
  }
}

@include lg {
  .absolute-center-x-lg {
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center-y-lg {
    top: 50%;
    transform: translateY(-50%);
  }
}

@include xl {
  .absolute-center-x-xl {
    left: 50%;
    transform: translateX(-50%);
  }

  .absolute-center-y-xl {
    top: 50%;
    transform: translateY(-50%);
  }
}

.not-allowed {
  cursor: not-allowed;
}

@include sm {
  .not-allowed-sm {
    cursor: not-allowed;
  }
}

@include sm {
  .compensate-border { margin-left: -3px; }
}

.divider {
  > *:not(:last-child) {
    border-bottom: 1px solid $brown-1;
  }
}

.divided-bottom {
  border-bottom: 2px solid $brown-3;
}

.divided-top {
  border-top: 2px solid $brown-3;
}

.divided-left {
  border-left: 2px solid $brown-3;
}

.divided-right {
  border-right: 2px solid $brown-3;
}

.no-last-border {
  &:last-of-type() {
    border-bottom: 0;
  }
}