// COLORS

// Neutrals
$white: #fff;
$off-white: #FFFCF7;
$brown-1: #FAF3E3;
$brown-2: #F5E9D0;
$brown-3: #BFAF8F;
$brown-4: #665229;
// Golds
$gold-1: #EACE8C;
$gold-2: #D4A73F;
// Blues
$blue-1: #73B9FF;
$blue-2: #297ACC;
$blue-3: #0F2E4D;

// TRANSITIONS
$hover-transition: all 150ms ease;
$animation-transition: all 300ms cubic-bezier(.5, .1, 0, 1);
$bouncy-transition: all 300ms cubic-bezier(.5, .1, 0, 1.2);
$bouncy-transition-with-opacity: opacity 250ms cubic-bezier(.5, .1, 0, 1),  transform 300ms cubic-bezier(.5, .1, 0, 1.2);
