.word-normal { word-break: normal; }
.word-wrap { word-break: break-all; }
.word-nowrap { word-break: keep-all; }

@include sm {
  .word-normal-sm { word-break: normal; }
  .word-wrap-sm { word-break: break-all; }
  .word-nowrap-sm { word-break: keep-all; }
}

@include md {
  .word-normal-md { word-break: normal; }
  .word-wrap-md { word-break: break-all; }
  .word-nowrap-md { word-break: keep-all; }
}

@include lg {
  .word-normal-lg { word-break: normal; }
  .word-wrap-lg { word-break: break-all; }
  .word-nowrap-lg { word-break: keep-all; }
}

@include xl {
  .word-normal-xl { word-break: normal; }
  .word-wrap-xl { word-break: break-all; }
  .word-nowrap-xl { word-break: keep-all; }
}
