<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>{{ page.title }} | Махабхарата</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">

  <!-- Meta tags -->
  <meta charset="utf-8">
  <title>Махабхарата разказана от Кришна Дхарма</title>
  <meta name="description" content="Потопете се в света на Махабхарата, където животът е малка стъпка по вечния път към вселени от несвършващо щастие с първото луксозно българско издание на епоса.">
  <meta name="author" content="БАЛА ГОПАЛА ЕООД">

  <!-- OG Tags -->
  <meta property="og:type" content="books.book">
  <meta property="og:title" content="“Махабхарата” разказана от Кришна Дхарма">
  <meta property="og:site_name" content="“Махабхарата” от Кришна Дхарма">
  <meta property="og:url" content="mahabharata.bg">
  <meta property="og:description" content="Тук ще откриете първото луксозно българско издание на “Махабхарата” от Кришна Дхарма. Потопете се в света на Махабхарата, където животът е малка стъпка по вечния път към вселени от несвършващо щастие.">
  <meta property="og:image" content="http://www.mahabharata.bg/og-image.png">
  <meta property="books:isbn" content="978-619-90735-0-6s">
  <meta property="books:rating:value" content="4.3">
  <meta property="books:rating:scale" content="5">
  <meta property="books:author" content="http://www.krishnadharma.com/">

  <!-- Favicons -->
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#d4a73f">
  <meta name="theme-color" content="#0f2e4d">


  <!-- Custom CSS -->
  <link href="https://fonts.googleapis.com/css?family=Alice&amp;subset=cyrillic" rel="stylesheet">
  <link rel="stylesheet" href="/css/toolkit.css">

  <!-- Page-specific CSS-->
  {% if page.specificCSS %}
    {% for stylesheet in page.specificCSS %}
      <link rel="stylesheet" href="/external-stylesheets/{{stylesheet}}.css">
    {% endfor %}
  {% endif %} <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-99747933-1', 'auto');
  ga('send', 'pageview');

</script> 

<!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s){if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};if(!f._fbq)f._fbq=n;
n.push=n;n.loaded=!0;n.version='2.0';n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];s.parentNode.insertBefore(t,s)}(window,
document,'script','https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '115872379024563'); // Insert your pixel ID here.
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=115872379024563&ev=PageView&noscript=1"
/></noscript>
<!-- DO NOT MODIFY -->
<!-- End Facebook Pixel Code -->


</head>

<body>

    <main class="site">
      {% include organisms/nav.html %}
      
      {{ content }}
    </main>

    {% include organisms/footer.html %}

    <!-- Page-specific JS-->
    {% if page.specificJS %}
      {% for script in page.specificJS %}
        <script src="/js/{{script}}.js"></script>
      {% endfor %}
    {% endif %}

</body>

</html>