---
layout: default
---

<div class="post ph3 center mw7 pv3">
    <div class="mw6 center relative flex flex-column justify-center">

        <!-- Title + image -->
        {% include atoms/heading.html level="1" size="1" text=page.title className="dib mb2"
        %}
        <span class="db brown-4 mb3">{{ page.date | date: "%d/%m/%Y" }}</span>
        <img src="{{page.hero.image}}" alt="{{page.hero.description}}" class="db mb3">

        <!-- Post content -->
        <article class="cms mb4">
            {{ content }}
        </article>
    </div>

    <!-- See more -->
    <div>
        {% include atoms/heading.html text="Още за четене" size="4" level="2" className="mb3 brown-4" %}
        <div class="row">
            {% comment %} Previous {% endcomment %}
            
            {% if page.previous %}
            <div class="col-12 col-sm-6">
                {% capture previousDate %}
                    {{ page.previous.date | date: "%d/%m/%Y" }}
                {% endcapture %}

                {% include organisms/post-preview.html title=page.previous.title url=page.previous.url excerpt=page.previous.excerpt image=page.previous.hero.image date=previousDate %}
            </div>
            {% endif %}

            {% comment %} Next {% endcomment %}
            {% if page.next %}
            <div class="col-12 col-sm-6">

                {% capture nextDate %}
                    {{ page.next.date | date: "%d/%m/%Y" }}
                {% endcapture %}

                {% include organisms/post-preview.html title=page.next.title url=page.next.url excerpt=page.next.excerpt image=page.next.hero.image date=nextDate %}
            </div>
            {% endif %}
        </div>
    </div>
</div>